@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {box-sizing: border-box;}

*,
*::before,
*::after {box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

button {cursor: pointer;}

.container{
  width: 1310px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: var(--color-232536);
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-5d5f6d);
}

.btn {
  background-color: var(--color-444cfc);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-rgba087);
  padding: 20px 68px 20px 32px;
  position: relative;
}

.btn:hover {
  background-color: var(--color-000dff);
  color: var(--color-ffffff);
}

.btn:active {opacity: 0.5;}

.btn::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url('../media/img/btn/btn-img.svg');
  top: 0;
  left: 0;
}

.btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 22px;
  width: 20px;
  height: 10px;
  background-image: url('../media/img/btn/arrow.svg');
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

:root {
  --color-232536: #232536;
  --color-ffffff: #ffffff;
  --color-ffd3af: #ffd3af; 
  --color-ffa155: #ffa155;
  --color-444cfc: #444cfc;
  --color-5d5f6d: #5d5f6d;
  --color-000000: #000000;
  --color-ecf8f9: #ecf8f9;
  --color-ffe6d2: #ffe6d2;
  --color-f9f9ff: #f9f9ff;
  --color-666dff: #666dff;
  --color-fafafc: #fafafc;
  --color-ffe0c7: #ffe0c7;
  --color-ffdfc6: #ffdfc6; 
  --color-f9f9f9: #f9f9f9;
  --color-000dff: #000dff;
  --color-e5e5e5: #e5e5e5;
  --color-rgba08: rgba(0, 0, 0, 0.8);
  --color-rgba057: rgba(255, 211, 175, 0.57);
  --color-rgba099: rgba(35, 37, 54, 0.99);
  --color-rgba017: rgba(210, 218, 237, 0.17);
  --color-rgba087: rgba(255, 255, 255, 0.87);
}

/* ================================== */
/* contact header =================== */

.contact-header {
  padding: 96px 0;
  background-color: var(--color-e5e5e5);
}

.contact-des__pretext {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  color: var(--color-000000);
  opacity: 0.87;
  margin-top: 24px;
}

.contact-des__title {
  margin: 24px 0;
}

.contact-des__text {
  margin-bottom: 24px;
}

.contact-des {
  width: 672px;
}

.contact-form {
  width: 405px;
}

.contact-form__label {
  font-weight: 500;
  font-size: 14px;  
  line-height: 20px;
  color: var(--color-232536);
  opacity: 0.6;
}

.contact-form__input {
  margin-bottom: 24px;
  display: block;
  padding: 8px 0;
  border: none;
  align-items: start;
  text-align: start;
  background-color: transparent;
  border-bottom: 1px solid var(--color-232536);
}

.contact-form__input:nth-child(8) {
  height: 100px;
}

.contact-form__btn {
  border: none;
  margin-top: 56px;
}

.contact-sec {
  width: 512px;
  height: 645px;
  position: relative;
  padding: 83px 148px 128px 96px;
  background-color: var(--color-666dff);
}

.contact-sec::before {
  content: '';
  background-image: url("../media/img/contact/before-img.svg");
  width: 23px;
  height: 296px;
  background-repeat: no-repeat;
  position: absolute;
  left: -23px;
  bottom: 0;
}

.contact-sec::after {
  content: '';
  background-image: url("../media/img/contact/after-img.svg");
  width: 133px;
  height: 23px;
  background-repeat: no-repeat;
  position: absolute;
  top: -23px;
  right: 0;
}

.contact-sec__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-ffffff);
  opacity: 0.6;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.contact-sec__text:nth-child(1),
.contact-sec__text:nth-child(3),
.contact-sec__text:nth-child(5) {
  border-bottom: 1px solid var(--color-rgba08);
}

.contact-sec__text:nth-child(3),
.contact-sec__text:nth-child(5) {
  margin-top: 26px;
}

.contact-sec__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-ffffff);
}

.contact-sec__list {
  margin-top: 54px;
}

.contact-sec__item {
  margin-right: 26px;
}

.contact-sec__link {
  font-size: 16px;
  color: var(--color-ffffff);
}

.contact-map iframe{
  width: 100%;
  height: 409px;
  padding-top: 96px;
}

/* contact header =================== */
/* ================================== */